#draggable {
   
  background: #f0f0f0;
  border: 1px solid #ccc;
   }
#droppable1 { width: 100px; height: 100px; padding: 0.5em; float: left; margin: 10px 10px 10px 0; }
  #droppable2 { width: 150px; height: 150px; padding: 0.5em; float: left; margin: 10px; }
  .ui-state-highlight {
  background: #ffeb3b;
    color: #000;}
     <style>
  .toggler {
    width: 500px;
    height: 200px;
  }
  #button {
    padding: .5em 1em;
    text-decoration: none;
  }
  #effect {
    position: relative;
    width: 240px;
    height: 170px;
    padding: 0.4em;
  }
  #effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
  }
#resizable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  background: #f0f0f0;
  border: 1px solid #ccc;
}

#resizable h3 {
  text-align: center;
  margin: 0;
  padding: 0.4em;
  background: #2196f3;
  color: white;
  cursor: move;
}
#progressbar {
    margin-top: 20px;
  }
 
  .progress-label {
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
  }
 
  .ui-dialog-titlebar-close {
    display: none;

  }
label {
 display: inline-block;
 width: 5em;
  }
